<!DOCTYPE html>
<html>
  <head>
    <title>ShortUrl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
    	<div class="nav__link"><%= link_to "New URL", root_path %></div>
    	<div class="nav__link"><%= link_to "All URLs", "/links" %></div>
    </nav>

    <%= yield %>
  </body>
</html>
